<h1>Hello, world!</h1>
<h2>Express.js test project</h2>
<p>A projekt célja demonstrálni a következő technológiákat:</p>
<ul>
    <li><a href="http://es6-features.org/#Lexicalthis">ES6</a> (Javascript 2015) szabvány újdonságai</li>
    <li><a href="https://nodejs.org/en/">Node.js</a> javascript futtató környezet</li>
    <li><a href="https://expressjs.com/">Express</a> Web framework (for Node.js)</li>
    <li><a href="https://nodejs.org/en/docs/guides/nodejs-docker-webapp/">Node.js alapú web-alkalmazás futtatása Docker környezetben</a></li>
    <li>Javascript alkalmazások tesztelése <a href="https://jestjs.io/">jest</a> eszközzel</li>
    <li>Reszponzív megjelenítés <a href="https://getbootstrap.com/">Bootstrap</a> alkalmazásával</li>
    <li>Képletek megjelenítése <a href="https://developer.mozilla.org/en/docs/Web/MathML">MathML</a> jelölőnyelvvel (elvileg html5 része, de az alacsony támogatottság miatt <a href="https://www.mathjax.org/">javascript alapú mankó</a> kell hozzá)</li>
    <li><a href="http://www.passportjs.org/packages/passport-saml/">SAML stack</a> integráció</li>
</ul>
