<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Six</title>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script language="javascript" src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link href="/css/site.less" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script type="text/x-mathjax-config">
MathJax.Hub.Config({
  MathML: {
    extensions: ["content-mathml.js"]
  },
  CommonHTML: {
    scale: 120
  }
});
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=MML_CHTML' async></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
        <div class="container">
            <button class="navbar-toggler collpsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
                <span class="sr-only">Toggle navigation</span>
            </button>
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img src="/img/6tg.png" width="30" />
                    Six Solver
                </a>
            </div>
            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <%- mainMenu %>
            </div>
        </div>
    </nav>
    <div class="wrap">
        <div class="container">
            <%- content %>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="pull-left">© UhiSoft 2018</p>

            <p class="pull-right"></p>
        </div>
    </footer>
</body>
</html>
