<ul class="navbar-nav mr-auto">
    <% for(let d of data) { %>
        <li class="nav-item <%= d.active ? 'active' : '' %>">
            <a class="nav-link <%= d.class %>" href="<%= d.link %>">
                <% if(d.icon && d.icon.substr(0,3)==='fa-') { %>
				<i class="fa <%= d.icon %>"></i>
                <% } %>
                <%= d.caption %>
            </a>
        </li>
    <% } %>
</ul>
