<h3>Felhasználó attributumai</h3>
<table class="attributes">
    <% for(let key in user.attributes) { %>
    <tr>
        <th><%= key %></th>
        <td>
            <% if(key==='jpegPhoto') { %>
            <img src="data:image/png;base64,<%= user.attributes[key] %>" />
            <% } else { %>
            <%= user.attributes[key] %>
            <% } %>
        </td>
    </tr>
    <% } %>
</table>
