<div class="form-group mb-1">
    <label for="v<%= i %>" class="col-sm-2 col-form-label"><%= vn %>:</label>
    <input id="v<%= i %>" class="form-control col-sm-3" name="v[]" value="<%= v %>" class="sixvalue" title="változó"/>
</div>
