<form class="form-inline">
    <%- vvv %>
    <div class="form-group mb-1 mx-sm-1">
        <label for="vr" class="col-sm-2 col-form-label">=</label>
        <input id="vr" class="form-control col-sm-2" name="r" value="<%= r %>" title="Elvárt eredmény"/>
    </div>
    <!--
    <div class="form-group mb-1 mx-sm-1">
        <input id="all" name="all" class="" type="checkbox" value="1" title="Minden megoldást mutat" /><label for="all" class="col-sm-2 col-form-label">All</label>
    </div>
    -->
    <div class="form-group mb-1 mx-sm-1">
        <button type="submit" class="form-control btn btn-primary mb-1" name="go"><i class="fa fa-check" ></i>Solve!</button>
    </div>
</form>
<h3>Feldolgozás költségei</h3>
<ul>
    <li>Alkalmazott operátorok: <%= fnsx %> <math><mo>(</mo><%- fnsl %><mo>)</mo></math></li>
    <li>Kiterjesztések száma: <%= closedNodes %> (<i>korlát</i>: <%= limit %>)</li>
    <li>Adatbázis mérete: <%= openNodes + closedNodes %></li>
    <li>Megoldás költsége: <%= cost %> (<b>Korlát</b>: <%= maxCost %>)</li>
</ul>
<h3>Megoldás</h3>
<%- result %>
