@dark-background: #133a14;
@light-background: #aef5b2;
@fg-l1: #f3ddb7;

@font-face {
	font-family: Alfios;
	src: url(Alfios_R.otf);
}
@font-face {
	font-family: Alfios;
	src: url(Alfios.otf);
	font-weight: bold;
}
@font-face {
	font-family: Alfios;
	src: url(Alfios_I.otf);
	font-style: italic;
}

html,
body {
    height: 100%;
    font-family: Alfios, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
	> .container {
		padding: 70px 15px 20px;
	}
}

.app-top {
    background-color: @dark-background;
	.navbar-brand {
		color: @fg-l1;
	}
}

nav {
	.navbar-nav .nav-link.samlbutton {
		display: inline-block;
		padding: 2px 4px;
		font-family: Verdana, Helvetica, Arial, sans-serif;
		font-size: 12px;
		font-weight: bold;
		text-align: center;
		white-space: nowrap;
		vertical-align: bottom;
		touch-action: manipulation;
		cursor: pointer;
		max-width: 120px;
		overflow: hidden;
		height: 20px;
		background: #2d4758;
		border: none;
		text-decoration: none;
	}

	.navbar-nav .nav-link.eduid-login {
		margin-top: 10px;
		padding-left: 54px;
		padding-top: 0px;
		text-align: left;
		max-width: 120px;
		overflow: hidden;
		height: 20px;
		background: url('../img/eduid_button2_blank.png') no-repeat #0062A0;
	}
}

.footer {
	height: 60px;
	background-color: @light-background;
	border-top: 1px solid #ddd;
	padding-top: 20px;
}

table.attributes {
	th {
		vertical-align: top;
	}
}
